# Ambiente Virtual do Python
venv/
.venv/
env/

# Caches do Python (Arquivos compilados compilados em execução)
**/__pycache__/
*.pyc
*.pyo
*.pyd

# Configurações do VS Code ou outras IDEs
.vscode/
.idea/

# Arquivos de log e ambiente locais
*.log
.env